@import '_mixins';
@import '_config';

//GLOBALS//
body {
  background-color: #FDFFED;
}

a {
  text-decoration: none !important;
}

.cButton {
  box-sizing: border-box;
  color: #D3C688;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  padding: 0 6px;
  margin: 6px 8px;
  line-height: 36px;
  min-height: 36px;
  background: 0 0;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  font-style: inherit;
  font-variant: inherit;
  font-family: 'Vollkorn';
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}


/* Navigation Styles */

nav {

  margin-bottom: -58px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084);

  @include tablet{

  }

  @include desktop {
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    background-color: #FDFFED;
    z-index: 1000;
  }

  .corners-top {
    margin-left: -15px;
    margin-right: -15px;
    height: 60px;

    img {
      width: 100px;

      @include tablet {

      }

      @include desktop {
        width: 60px;
      }
    }

    .left {
      transform: scale(-1);
      float: left;
    }

    .right {
      transform: scaleY(-1);
      float: right;
    }
  }

  #logo {
    font-family: 'Vollkorn', cursive;
    font-size: 42px;
    padding: 0 0 10px 0;
    letter-spacing: 3px;

    @include tablet {
      font-size: 46px;
      padding: 0 0 20px 0;
    }
    @include desktop {
      width: 300px;
      padding: 0;

    }

    span {
      padding: 0 0 0 20px;
      position: relative;
      top: 10px;
      font-wieght: bold;
      font-size: 27px !important;

      @include tablet {

      }

      @include desktop {
        padding: 20px 0 0 20px;
      }

    }
    a {
      color: #5E2C14;
    }
  }

  #navItems {
    padding: 0 0 5px 0;
    margin-top: -72px;

    @include desktop{
      padding: 0 0 15px 0;
      margin-top: -59px;
    }

    .navText {

      @include tablet {

      }

      @include desktop {
        padding-top: 31px;
      }


    }

    .shoeIcon {
      width: 39px;
      padding-top: 15px;

      @include tablet {

      }

      @include desktop {
        width: 30px;
      }
    }


    span {
      font-family: 'Vollkorn', cursive;
      color: #5E2C14;
      font-size: 17px;
      letter-spacing: 3px;
    }
  }

  #contactBar {
    background-color: #FDFFED;
    padding: 10px 0 10px 0;

    @include tablet {

    }

    @include desktop {
      padding: 4px 0 4px 0;
    }

    .contact-btn {
      width: 77px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

      @include tablet {
        width: 150px;
      }

      @include desktop {
        width: auto;
        box-shadow: none;
      }

      &.phone {
         @include tablet {

         }

         @include desktop {
           text-align: right;
           padding-right: 60px;
         }
       }

      &.map {
        @include tablet {

        }

        @include desktop {
          font-size: 16px;
          text-align: left;
          margin-top: -2px;
        }
      }

      i {
        color: #D56C8C;
        font-size: 32px;
        padding-top: 2px;

        @include tablet {

        }

        @include desktop {
          font-size: 16px;
          padding-right: 8px;
        }
      }

      span {
        font-size: 20px;
        color: #080B1E;

        @include tablet {

        }

        @include desktop {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

/*Header / Hero area */

.mainHeader {
  margin-top: 58px;
  height: 215px;
  background-color: transparent;
  background-size: cover;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0;

  @include tablet {
    height: 450px;
  }

  @include desktop {
    height: 45vw;
  }


  .hero {
    width: 100%;
    height: 215px;

    img {
      height: 215px;
      width: 100%;

      @include tablet {
        height: 450px;
      }

      @include desktop {
        height: 45vw;
      }
    }

    @include tablet {
      height: 450px;
    }

    @include desktop {
      height: 45vw;
    }
  }

  .header-copy {
    .hero-copy-wrapper {
      margin-top: -250px;
      background-color: rgba(0,0,0,.6);
      position: relative;
      height: 250px;

      @include tablet {
        height: 450px;
        margin-top: -450px;
        position: relative;
      }

      @include desktop {
        height: 45vw;
        margin-top: -45vw;
        position: relative;
      }

      .text {
        padding: 15vw 0 0 0;
        h1 {
          font-family: 'Playfair Display', Georgia, serif;
          color: #F2EAC3;
          text-transform: uppercase;
          font-size: 26px;
          line-height: 18px;

          @include tablet {
            margin: 0 0 30px 30px;
            line-height: 28px;
            font-size: 44px;
          }

          @include desktop {
            margin: 0 0 25px 0;
            font-size: 90px;
            line-height: 78px;

          }
        }

        hr {
          border-top: 1px solid #F2EAC3;
        }
      }
    }
  }
}

/* Cheetah section */

.cheetah-section {
  background-image: url('http://s3.amazonaws.com/rapgenius/filepicker%2FptUVw0FeQ4iLajMYmbfL_Leopar%20print.jpg');
  background-size: cover;

  .cheetah-text {

    background: rgba(0,0,0, .7);
    background-size: cover;
    font-size: 54px;
    font-family: 'Vollkorn', serif;
    color: #bbae71;
    padding: 0 30px 0px 15px;
    line-height: 32px;
    border-top: 3px solid #922D2D;;
    border-bottom: 3px solid #922D2D;;
    margin: 0 -15px 0 -15px;
    letter-spacing: 3px;

    h1 {
      color: #F2EAC3;
      letter-spacing: 5px;
      font-size: 24px;
    }

    h2 {
      color: #bbae71;
      letter-spacing: 5px;
      font-size: 20px;
    }
  }
}

#inventory {
  background-image: url('http://printandpattern.files.wordpress.com/2012/02/paris-fashion.jpg');
  background-size: cover;
  .inventory {
    max-width: 120px;
    max-height: 120px;

  }
}

/* Svgs */

.chandelier {
  max-width: 250px;
}


/* Pretty Type Section */

#typographic {
  font-family: 'Vollkorn';
  padding-bottom: 50px;

  .text-wrapper {
    width: 300px;
  }

  .chella {
    font-size: 60px;
    color:#BFA717;
  }

  .makes {
    font-size: 22px;
    padding-left: 20%;
  }

  .consignment {
    font-size: 48px;
    padding-left: 3%;
    color: #F56B6B;
  }

  .shopping {
    font-size: 18px;
    padding-left: 45%;
  }

  .joy {
    font-size: 68px;
    color:#fc4c4c;
  }
}


/* Pink welcome section */
.welcomeSection {
  font-family: 'Vollkorn';
  color: #000000;
  background-color: rgba(222, 116, 147, 1);
  font-weight: 500;
  letter-spacing: 3px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);

  @include tablet {
    padding-bottom: 35px;
  }
  @include desktop {
    height: 400px;
  }

  .welcomeHeader {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .white {
    font-family: 'Vollkorn';
    color: #FDFFED;
    font-size: 34px;
  }

  .black {
    font-family: 'Vollkorn';
    color: #FDFFED;
    font-size: 24px;
  }

  .row {

    .circle-container {
      width: 100px;
      height: 100px;
      background-color: #F2EAC3;
      margin-top:30px;
      margin-bottom: 10px;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);


      img {
        width: 60px;
        padding-top: 20px;
        padding-left: 5px;
      }
    }
  }
}

/* Google Maps Section */

.mapSection {

  .padding-fix {
    padding : 0;
  }

  img.couch {
    width: 200px;
  }

  .chellaMap {
    width: 100%;
    height: 500px;

  }
}

/*Facebook Feed */
#facebookFeed {
  padding-bottom: 30px;

  a {
    color: #5E2C14;
  }

  .post {
    padding-top: 25px;

    .post-btn {
      margin-top: 50px;
    }
  }



  .date {
    font-family: 'Vollkorn';
    color: #F56B6B;
  }

  .text {
    font-family: 'Vollkorn';
    font-size: 16px;
  }

  .row {
    .post {

      .media {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);

        .media-left {

          img {
            width: 73px;
            height: 130px;
          }
        }
      }

      &:nth-of-type(1) {
        .media {
          background-color: #D2B336;
        }
      }

      &:nth-of-type(2) {
        .media {
          background-color: #CC9E91;
        }
      }
      &:nth-of-type(3) {
        .media {
          background-color: #F8AE4E;
        }
      }

      &:nth-of-type(4) {
        .media {
          background-color: #B94769;
        }
      }

      &:nth-of-type(5) {
        .media {
          background-color: #D2B336;
        }
      }

      &:nth-of-type(6) {
        .media {
          background-color: #CC9E91;
        }
      }
      &:nth-of-type(7) {
        .media {
          background-color: #F8AE4E;
        }
      }
    }
  }
}

//bottom corners
.corners-bottom {
  margin-left: -15px;
  margin-right: -15px;
  height: 60px;

  img {
    width: 100px;

    @include tablet {

    }

    @include desktop {
      width: 60px;
    }
  }

  .left {
    transform: scale(-1, 1);
    float: left;
  }

  .right {
    transform: scale(1, 1);
    float: right;
  }
}

/* Footer Section */
#footer {
  background-color: rgba(222, 116, 147, 1);
  margin: 0 -15px 0 -15px;


  a {
    color: #F2EAC3;
  }

  span {
    font-size: 14px;

    @include desktop{
      font-size: 16px;
    }
  }

  .footerText {
    padding-top: 45px;
    padding-bottom: 10px;

    @include tablet{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @include desktop{
      padding-top: 26px;
      padding-bottom: 20px;
    }
  }

  img.swirl {
    width: 50px;
    margin-left:-25px;
    left:50%;
    position: absolute;
    z-index: 2;
    margin-top: -4px;

    @include desktop {
      margin-top: -40px;
    }
  }

  i {
    color: #F2EAC3;
    font-size: 18px;
    padding: 15px 5px 10px 5px;

    @include tablet {
      padding: 0px 5px 0px 5px;
    }

    @include desktop {
      padding: 0px 15px 0px 15px;
      font-size: 24px;
    }
  }
}

/*/////// About Page ///////*/
#about {
  margin: 0;

  #aboutHero{
    width: 100%;
    height: 250px;
    margin-top: 5px;

    @include tablet {
      height: 600px;
      margin-top: 0;
  }
    @include desktop{
      height: 900px;
      margin-top: 0;
    }

    img {
      width: 100%;
      height: 250px;

      @include tablet {
        height: 600px;
      }
      @include desktop{
        height: 900px;
      }
    }
  }

}

#hero-copy {
  .hero-copy-wrapper {
    margin-top: -250px;
    background-color: rgba(0,0,0,.5);
    position: relative;

    @include tablet {
      height: 600px;
      margin-top: -600px;
      position: relative;
    }

    @include desktop {
      height: 900px;
      margin-top: -900px;
      padding-top: 200px;
      position: relative;
    }

    .text {
      padding: 20px 0 0 0;
      h1 {
        font-family: 'Playfair Display', Georgia, serif;
        color: #F2EAC3;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 18px;

        @include tablet {
          margin: 0 0 30px 0;
          line-height: 18px;
        }

        @include desktop {
          margin: 0 0 60px 0;
          font-size: 70px;

        }
      }

      h2 {
        font-family: 'Vollkorn';
        font-size: 20px;
        margin-left: 0;
        margin-right: 0;
        background-color: #FDFFED;
        color: #080B1E;
        margin-top: 117px;
        padding: 30px;
        margin-bottom: 0;
        line-height: 24px;


        hr {

          border-top: 1px solid #000000;
          width: 50%;

          @include tablet {
            border-top: 1px solid #F2EAC3;
            padding: 0;
          }

          @include desktop {
            border-top: 1px solid #F2EAC3;
            padding: 0;
          }

        }

        @include tablet {
          color: #F2EAC3;
          font-size: 26px;
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
          background-color: transparent;
          width: 450px;
          padding: 0;
        }

        @include desktop {
          font-size: 26px;
          width: 450px;
          color: #F2EAC3;
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
          background-color: transparent;
          padding: 0;
        }
      }
    }
  }
}

.womanImg {
  max-height: 250px;
  margin: 0 auto;

  @include tablet {

  }

  @include desktop {
    max-height: 400px;
  }
}

.sectionHeader {
  color: #D3C688;
  font-size: 34px;
  font-family: 'Vollkorn';
  text-transform: uppercase;
  padding: 40px 0 40px 0;

  @include tablet {
    font-size: 34px;
  }

  @include desktop {
    font-size: 38px;
  }
}

h2 {
  &.sectionHeader {
    color: #D3C688;
    font-size: 18px;
    font-family: 'Vollkorn';
    text-transform: uppercase;
    padding: 0;

    @include tablet {
      font-size: 24px;
    }

    @include desktop {
      font-size: 24px;
    }
  }
}

.sectionText {
  color: #080B1E;
  font-size: 18px;
  font-family: Vollkorn;
}

#owners {

  .ownersWrapper {
    width: 100%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    border-radius: 2px;

    @include tablet {

    }

    @include desktop {
      width: 700px;
      margin-bottom: 70px;
    }
    .padding-fix {
      padding : 0;
    }
    .ownerGrid {
      height: 350px;
      background-color: #1E222F;

      h1 {
        font-family: 'Playfair Display', Georgia, serif;
        color: #F2EAC3;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 42px;
        border-bottom: 4px double #F2EAC3;
        @include tablet {

        }

        @include desktop {


        }
      }

      h2 {
        font-family: 'Vollkorn', Georgia, serif;
        color: #F2EAC3;
        font-size: 18px;
      }
    }

    .ownerImg {
      height: 350px;
      width: 100%;
    }
  }

}

.section {
  padding-top: 53px;
  background-color: transparent;

}

/*/////// Shopping Page ///////*/
#hatImg {
  margin-top: 58px;

  img {

    max-height: 300px;

    @include tablet {

    }

    @include desktop {
      max-height: 505px;
      width: 623px;
    }
  }
}

#brands {
  margin-top: 30px;
  margin-bottom: 100px;
  .brand {
    height: 200px;
    width: 200px;
    margin-top: 40px;

    background-image: url('../img/brands.png');

    &.chanel {
      background-position: 0 0;
    }

    &.gucci {
        background-position: -227px 0;

    }

    &.miller {
        background-position: -480px 0;
      width: 255px;
    }

    &.prada {
      background-position: -825px 0;
    }

    &.cavali {
      background-position: -1075px 0;

    }

    &.theory {
       background-position: -1321px 0;

     }

    &.burch {
      background-position: -1615px 0;

    }
  }
}

/*/////// Consign Page ///////*/
#consign {
  margin-top: 105px;

  .mannequinImg {
    max-height: 305px;
    @include tablet {

    }

    @include desktop {
      max-height: 505px;

    }
  }

}


/*/////// Contact Page ///////*/
#contact {
  margin-top: 58px;

  .hero{
    width: 100%;
    height: 250px;
    margin-top: 5px;

    @include tablet {
      height: 600px;
      margin-top: 0;
    }
    @include desktop{
      height: 600px;
      margin-top: 0;
    }

    img {
      width: 100%;
      height: 250px;

      @include tablet {
        height: 600px;
      }
      @include desktop{
        height: 600px;
      }
    }
  }
}

/* Trannsition Animationa */
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;

}

[ui-view].ng-enter-active {
  opacity: 1;

}

[ui-view].ng-leave {
  opacity: 1;

}

[ui-view].ng-leave-active {
  opacity: 0;

}