#contact
    .container-fluid
        div.mapSection
            div.row
                div.col-xs-12.padding-fix
                    div#map-canvas.chellaMap
    .container
        .row
            .col-xs-12.col-md-9.text-center
                h1.sectionHeader Directions
                p.sectionText At Chella D quality is everything. We handpick every item on our shelves in order to tease your fashion sense. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.
            .col-xs-12.col-md-3.text-center
                h1.sectionHeader Contact
                h2.sectionHeader Hours
                p.sectionText Mon-Sat 11:00 - 6:00
                h2.sectionHeader Call
                a(href="tel:+18433413999")
                    p.sectionText 843-341-3999
                h2.sectionHeader Email
                p.sectionText chelladstore@gmail.com
    .container-fluid
        .row
            .hero
                img(src="img/aboutHero.jpg")

ng-include(src="'../views/footer/footer.html'")

