
div.mainHeader
    .container-fluid
        .row
            slick(fade="true" arrows="false" autoplay="true" infinite="true" speed="500" cssEase="linear")
                .hero
                    img(src="img/hero4.jpg")
                .hero
                    img(src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-1h8gaLbN0-c%2FULpAJRc34JI%2FAAAAAAAADSs%2FccLlmMGk7KE%2Fs1600%2Fd26b1_Nikolay-Biryukov-Black-and-white-Fashion.jpg&f=1")
                .hero
                    img(src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Ffavim.com%2Forig%2F201104%2F20%2FFavim.com-20233.jpg&f=1")
    .container-fluid.header-copy.hidden-xs.hidden-md
        div.row
            .hero-copy-wrapper
                .text.container
                    h1 Chella D
                    h1 Boutique &
                    h1 Consignment
div.welcomeSection
    div.container-fluid
        div.row
            div.col-xs-12.text-center.welcomeHeader
                span.white  What We Do
    div.container
        div.row.text-center
            div.col-xs-12.col-sm-4.shop
                a(href="/shop")
                    div.img-circle.circle-container.center-block.hvr-radial-out.hvr-border-fade
                        img(src="img/bags1.svg")
                    h1.black Shop
            div.col-xs-12.col-sm-4.consign
                a(href="/consign")
                    div.img-circle.circle-container.center-block.hvr-radial-out.hvr-border-fade
                        img(src="img/clothes23.svg")
                    h1.black Consign
            div.col-xs-12.col-sm-4.contact
                a(href="/contact")
                    div.img-circle.circle-container.center-block.hvr-radial-out.hvr-border-fade
                        img(src="img/love38.svg")
                    h1.black Contact
div.container
    div.row
        div.col-xs-12
            img.img-responsive.center-block.chandelier(src="img/chandelier.png")
div.container#typographic
    div.row
        div.col-xs-12
            div.text-wrapper.center-block
                div
                    span.chella "Chella&nbsp;D&emsp;
                div
                    span.makes makes&nbsp;
                div
                    span.consignment consignment&nbsp;
                div
                    span.shopping shopping&nbsp;a&nbsp;
                div.text-center
                    span.joy joy..."
div.container-fluid.mapSection
    div.row
        div.col-xs-12.text-center
            img.couch(src="img/couch.png")
    div.row
        div.col-xs-12.cheetah-section
            div.cheetah-text.text-center
                h1 Come Find Your New Favorite Store
                h2 South Island Square, 841 William Hilton Pkwy, Hilton Head Island, SC 29928
    div.row
        div.col-xs-12.padding-fix
            div#map-canvas.chellaMap
div.container#facebookFeed
    div.row
        h1.sectionHeader.text-center Latest Happenings
        div.col-xs-12.col-sm-6.col-md-4.post.hvr-float-shadow(ng-repeat="post in vm.feed | limitTo: 7")
            a(href="{{post.link}}")
                div.media
                    div.media-left
                        img(ng-src="{{post.picture}}")
                    div.media-body
                        h3.date {{post.created_time | date : MM-dd-yy}}
                        h4.media-heading.text {{post.message}}
        div.col-md-4.post.text-center.post
            a(href="https://www.facebook.com/chelladhhi")
                button.cButton.post-btn See More
.container-fluid
    .corners-bottom
        img.left(src="img/corner.png")
        img.right(src="img/corner.png")

ng-include(src="'../views/footer/footer.html'")
