div.container-fluid.section#about
   div.row
      div#aboutHero
         img(src="img/aboutHero.jpg")
.container-fluid#hero-copy
   div.row
      .hero-copy-wrapper
         .text.container
            h1 About
            h1 Chella D
            h1 Boutique
            h2 Chella D has been awarded the Island Packet's Reader's Choice Award for best consignment store on Hilton Head Island for the past 3 years. <hr> Since opening day savvy shoppers, smart consigners, and fashionistas have been visiting Chella D for a shopping experience they love. Whether you're a local diva or visiting us from afar, you have to make Chella D your first visit for the best shopping on Hilton Head.
.container
   .row
      .col-xs-12.text-center
         h1.sectionHeader Meet the Owners
.container#owners
   .ownersWrapper.center-block
      .row
         div.col-xs-12.col-sm-6.padding-fix
            img.ownerImg(src="img/donna.jpg")
         div.col-xs-12.col-sm-6.color.ownerGrid
            h1 Donna D
            h2 Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.d
      .row
         div.col-xs-12.col-sm-6.col-sm-push-6.padding-fix
            img.ownerImg(src="img/carol.jpg")
         div.col-xs-12.col-sm-6.col-sm-pull-6.ownerGrid
            h1 Carol Sprague
            h2 Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.
   .row
      div.col-xs-12.text-center
         img.womanImg(src="img/woman.png")

ng-include(src="'../views/footer/footer.html'")
