div.container#consign
   .row
      .col-xs-12.text-center
         h1.sectionHeader Consign With Chella D
   div.row
      .col-xs-12
         p.sectionText At Chella D quality is everything. We handpick every item on our shelves in order to tease your fashion sense. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.
         p.sectionText At Chella D quality is everything. We handpick every item on our shelves in order to tease your fashion sense. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.
         button.cButton Get Form
   div.row
      div.col-xs-12.text-center
         img.mannequinImg(src="img/mannequin.png")
