doctype html
html(lang="en")
	head
	base(href="/")
	title Chella D Boutique Consignment
	meta(charset="utf-8")
	meta(name="description" content="")
	meta(name="HandheldFriendly" content="True")
	meta(name="MobileOptimized" content="320")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(http-equiv="cleartype" content="on")
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
	link(rel='stylesheet', href='css/main.css')
	link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="css/hover.css")
	link(rel="stylesheet" href="css/slick.css")
	link(href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css')
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="lib/angular/angular.min.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvbrX0Z-5ZpX_EIOnmEf9bOvvH3t_Ham8")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
	script(src="js/main.js")


	body(ng-app="newApp")
		nav
			.container-fluid
				.corners-top
					img.left(src="img/corner.png")
					img.right(src="img/corner.png")

			.container
				.row#navItems
					#logo.center-block.text-center.col-xs-12.col-md-4
						a(href='/')
							img.shoeIcon(src="img/studded.svg")
							span Chella D
					.col-xs-6.col-sm-3.col-md-2.text-center.navText
						a(href='/about')
							span.hvr-underline-from-center About Us
					.col-xs-6.col-sm-3.col-md-2.text-center.navText
						a(href='/shop')
							span.hvr-underline-from-center Shopping
					.col-xs-6.col-sm-3.col-md-2.text-center.navText
						a(href='/consign')
							span.hvr-underline-from-center Consign
					.col-xs-6.col-sm-3.col-md-2.text-center.navText
						a(href='/contact')
							span.hvr-underline-from-center Find Us
			.container-fluid
				.row#contactBar
					.col-xs-6.col-sm-6.text-center
						.contact-btn.center-block.phone
							span
								a(href="tel:+18433413999")
									<i class="fa fa-phone hvr-icon-bounce"></i>
									span.hidden-xs.hidden-sm 843-341-3999
					.col-xs-6.col-sm-6.text-center
						.contact-btn.center-block.map
							span
								a(href="https://www.google.com/maps/dir/Current+Location/841+William+Hilton+Pkwy+Hilton+Head+Island+SC+29928")
									<i class="fa fa-location-arrow hvr-icon-bounce"></i>
									span.hidden-xs.hidden-sm South Island Square, #841

		//UI Router views render here
		div.mainContainer(ui-view)
		//End Ui ROuter View

