
div.container-fluid#hatImg
  div.row
      slick( arrows="false" slides-to-show="4" slides-to-scroll="1" responsive="[ { breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 1, infinite: true} }, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 1 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } }]" autoplay="true" infinite="true" speed="500" cssEase="linear")
          div
              img(src="img/shop1.png")
          div
              img(src="img/shop2.jpg")
          div
              img(src="img/shop3.jpg")
          div
              img(src="img/shop4.jpg")
          div
              img(src="img/shop5.jpg")
          div
              img(src="img/shop6.jpg")
          div
              img(src="img/shop7.jpg")


.container
  .row
      .col-xs-12.text-center
          h1.sectionHeader Shopping at Chella D
  div.row
      .col-xs-12
          p.sectionText At Chella D quality is everything. We handpick every item on our shelves in order to tease your fashion sense. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.
          p.sectionText At Chella D quality is everything. We handpick every item on our shelves in order to tease your fashion sense. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.

  .row#brands
      .col-xs-12.col-md-3
          .brand.center-block
              img.img-responsive(src="img/chanellogo.png")
      .col-xs-12.col-md-3
          .brand.center-block
              img.img-responsive(src="img/guccilogo.png")
      .col-xs-12.col-md-3
          .brand.center-block
              img.img-responsive(src="img/millerlogo.png")
      .col-xs-12.col-md-3
          .brand.center-block
              img.img-responsive(src="img/pradalogo.png")
      .col-xs-12.col-md-4
          .brand.center-block
              img.img-responsive(src="img/cavallilogo.png")
      .col-xs-12.col-md-4
          .brand.center-block
              img.img-responsive(src="img/theory-ogo.png")
      .col-xs-12.col-md-4
          .brand.center-block
              img.img-responsive(src="img/burchlogo.png")

ng-include(src="'../views/footer/footer.html'")

