//Footer
div.container-fluid
   footer#footer
       div.container
           .row.footerText
               .col-xs-3.col-sm-2.text-center
                   a(href='/')
                       span About
               .col-xs-3.col-sm-2.text-center
                   a(href='/shop')
                       span Store
               .col-xs-3.col-sm-2.text-center
                   a(href='/consign')
                       span Consign
               .col-xs-3.col-sm-2.text-center
                   a(href='/about')
                       span Find Us
               //img.swirl(src="img/swirl.png")
               .col-xs-12.col-sm-4.text-center
                   a(href="https://www.facebook.com/chelladhhi")
                       <i class="fa fa-facebook-official"></i>
                   a(href="https://www.google.com/?gws_rd=ssl#q=chella+d")
                       <i class="fa fa-google"></i>


